<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.notice.user.mapper.UserMapper">
    <insert id = "insertUserJoin">
        INSERT INTO CSTMR (
            LOGIN_ID,
            LOGIN_PSWD,
            CSTMR_NM
        ) VALUE (
            #{loginId},
            #{loginPswd},
            #{cstmrNm}
        )
    </insert>

    <select id="anyUserLogin" resultType="boolean">
        SELECT
            COUNT(*)
        FROM CSTMR
        WHERE LOGIN_ID = #{loginId} AND LOGIN_PSWD = #{loginPswd} 
        LIMIT 1
    </select>
</mapper>