<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.notice.board.mapper.BoardMapper">
    <select id="getBoardList" resultType="boardListRs">
        SELECT 
            B.BRD_SNO,
            B.TITLE,
            C.CSTMR_NM,
            B.REG_DT,
            B.VIEWS,
            B.CTGR_DIV_CD
        FROM CNS_BRD_BAS B, PTY_CSTMR_BAS C
        WHERE B.CSTMR_SNO = C.CSTMR_SNO AND B.DEL_YN = 'N'
        <if test="ctgrDivCd != 'ALL'">
            AND B.CTGR_DIV_CD = #{ctgrDivCd}
        </if>
        ORDER BY B.BRD_SNO ASC
    </select>

    <insert id="insertBoard">
        INSERT INTO CNS_BRD_BAS (
            TITLE,
            CONTENT,
            CSTMR_SNO,
            CTGR_DIV_CD
        ) VALUE (
            #{title},
            #{content},
            #{cstmrSno},
            #{ctgrDivCd}
        )
    </insert>

    <select id="getBoardDetail" resultType="boardDetailRs">
        SELECT 
            B.BRD_SNO,
            B.TITLE,
            B.CONTENT,
            B.CSTMR_SNO,
            C.CSTMR_NM,
            B.REG_DT,
            B.CTGR_DIV_CD,
            B.VIEWS
        FROM CNS_BRD_BAS B, PTY_CSTMR_BAS C
        WHERE B.CSTMR_SNO = C.CSTMR_SNO AND B.BRD_SNO = #{brdSno}
    </select>

    <update id="updateBoard">
        UPDATE CNS_BRD_BAS
        SET TITLE = #{title},
            CONTENT = #{content},
            UPD_DT = NOW(),
            CTGR_DIV_CD = #{ctgrDivCd}
        WHERE BRD_SNO = #{brdSno}
    </update>

    <update id="deleteBoard">
        UPDATE CNS_BRD_BAS
        SET DEL_YN = 'Y'
        WHERE BRD_SNO = #{brdSno}
    </update>

    <select id="getBoardCtgrList" resultType="boardCtgrRs">
        SELECT
            CTGR_DIV_CD,
            CTGR_NM
        FROM COM_CTGR_CD
    </select>

    <update id="updateViews">
        UPDATE CNS_BRD_BAS
        SET VIEWS = VIEWS + 1
        WHERE BRD_SNO = #{brdSno}
    </update>
</mapper>